/* font : pas loin de Banhshift -> classique */

@font-face {
    font-family: 'Bahnschrift';
    src: url('/fonts/BAHNSCHRIFT.ttf') format('truetype');
}

:root {
    --main-font-color-white: rgba(255, 255, 255, 1);
    --main-bg-color: rgba(232, 232, 232, 1);
    --main-pagination-bg-color: rgba(202, 202, 202, 1);
    --second-pagination-bg-color: rgba(167, 185, 202, 1);
    --overlay-bg-color: rgba(37, 58, 88, .5);
    --second-bg-color: rgba(242, 242, 242, 1);

    --main-font: 'Bahnschrift';
}

html {
    font-size: 16px;
    font-family: var(--main-font);
    background-color: var(--main-bg-color);
}

body {
    margin: 0;
}

h1 {
    font-size: 5rem;
    margin: 2rem;
}

h2 {
    font-size: 4rem;
    margin: 0;
    text-align: center;
}

h3 {
    font-size: 2.5rem;
}

h4 {
    font-size: 1.3rem;
    margin: 0 0 1.5rem 0;
}

p {
    margin: 0;
    font-size: 1rem;
}

a {
    all: unset;
    cursor: pointer;
}

hr {
    width: 70vw;
    height: .15rem;
    border-radius: 5rem;
    background: rgba(1, 1, 1, .7);
}

header {
    background-image: url("../ressources/k1000-header.jpg");
    background-size: cover;
    background-position: center 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

header div.overlay {
    background-color: var(--overlay-bg-color);
    height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    box-shadow: 0 1rem 3rem 1rem rgba(0, 0, 0, .25);
}

header .title {
    color: var(--main-font-color-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

header div.reseaux {
    position: relative;
}

div.reseaux img {
    transition: all .2s ease-in-out;
}

div.reseaux img:hover {
    transform: scale(1.4);
}

header img {
    max-height: 3rem;
    max-width: 3rem;
    margin: 2vw;
}

main {
    background-color: var(--main-bg-color);
    width: 100%;
}

section.bio {
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

section.bio div.text,
section.bio img {
    box-shadow: .75rem 0rem 1.5rem 0 rgba(0, 0, 0, .4);
}

section.bio div.text {
    position: relative;
    z-index: 2;
    background-color: var(--second-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 2rem 3rem;
    max-height: 45vh;
    max-width: 45vw;
    aspect-ratio: 1/1;
    border-radius: 1rem;
    transform: rotate(-5deg) translate(4rem, 1rem);
}

section.bio img {
    position: relative;
    margin-right: 3rem;
    z-index: 1;
    max-height: 60vh;
    max-width: 50vw;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: .5rem;
    transform: scaleX(-1);
}

section.bio div.text p {
    text-align: justify;
}

section.videos {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section.videos div#zone-swip {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.videos div.video {
    display: flex;
    align-items: center;
}

section.videos div.video img {
    height: 2rem;
    width: auto;
    margin: 3rem;
}

section.videos div.video img:hover {
    cursor: pointer;
}

section.videos div.video iframe {
    width: 50vw;
    aspect-ratio: 16/9;
    border-radius: .5rem;
}

section.videos div.description {
    width: 50vw;
    margin: 2rem 0;
}

section.videos div.description p {
    text-align: justify;
}

section.videos div.pagination {
    display: flex;
}

section.videos div.pagination div.bouton {
    height: 1.5rem;
    width: 1.5rem;
    margin: 1rem;
    border-radius: 2rem;
    background-color: var(--main-pagination-bg-color);
    transition: all .2s ease-in-out;
}

section.videos div.pagination div.bouton:hover {
    transform: scale(1.3);
    cursor: pointer;
}

section.videos div.pagination div.bouton.selected {
    background-color: var(--second-pagination-bg-color);
    cursor: default;
}

section.videos div.pagination div.bouton.selected:hover {
    transform: scale(1);
}

footer {
    height: 15rem;
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

footer div.contact {
    display: flex;
    align-items: center;
}

footer div.contact * {
    margin: 0 2rem;
}

footer div.contact a.press {
    background-color: var(--main-pagination-bg-color);
    padding: 1rem;
    border-radius: 2rem;
    color: black;
}

footer div.reseaux img {
    height: 2rem;
    margin: 0 1rem;
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

footer div.reseaux img:hover {
    -webkit-filter: grayscale(0%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}

/* Small screens, laptops */
@media screen and (max-width: 1024px) {
    html {
        font-size: 13px;
    }
}

/* Ipads, Tablettes */
@media screen and (max-width: 768px) {

    /* html {
        font-size: 10px;
    } */

    header,
    header div.overlay,
    section.bio,
    section.videos {
        height: 60vh;
    }

    section.bio img {
        display: none;
    }

    section.bio div.text {
        transform: none;
        max-height: 70%;
        max-width: 70%;
    }

    section.videos div.video img {
        display: none;
    }

    section.videos div.video iframe,
    section.videos div.description {
        width: 60vw;
    }

    #zone-swip {
        transition: transform 0.5s;
    }

    #zone-swip.swipe-right {
        transform: translateX(25%);
    }

    #zone-swip.swipe-left {
        transform: translateX(-25%);
    }

}

/* Mobile devices */
@media screen and (max-width: 480px) {
    html {
        font-size: 10px;
    }

    header,
    header div.overlay {
        height: 50vh;
    }

    section.bio {
        height: 40vh;
    }

    section.videos {
        height: 50vh;
    }

    section.bio div.text {
        max-height: 70%;
        max-width: 60%;
    }
}